body {
    background-image: url(../img/nebula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-family: "Oswald" "Heletica Neue" sans-serif;
}

.logo {
    width: 20em;
    height: auto;
    margin: 0;
}

.title {
    font-family: "Press Start 2P" "Helvetica Neue" sans-serif;
    color: #DF0000;
    text-align: left;
    margin: 0 0 0 4rem;
    font-size: 3em;
    font-weight: 100;
}


/* Intro Box */
.intro-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 40%;
    margin: 5rem 30% 0 30%;
    padding: 2rem 0;
    display: none;
}
.intro-a {
    text-align: center;
}
.intro-b {
    text-align: center;
}

/* Start Quiz Button */
.button-container {
    text-align: center;
    margin-top: 1rem;
}
.engage {
    color: #000000;
    border-style: none;
    border-radius: 1em;
    margin-top: 1rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    background-color: #FF9900;
    font-family: "Oswald" "Helvetica Neue" sans-serif;
}

/* Question Box */
.question-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 60%;
    margin: 1rem 20% 0 20%;
    padding: 2rem 0;
    display: none;
}
.question {
    text-align: center;
}
.row {
    width: 100%;
}
.button-cell {
    padding-left: 12rem;
}
.answer-button {
    display: inline-block;
}
.answer-text {
    display: inline-block;
}

/* Answer Feedback */
.feedback-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 60%;
    margin: 1rem 20% 0 20%;
    padding: 2rem 0;
    text-align: center;
    display: none;
}
.right {
    display: block;
    margin: 0 auto;
}
.feedback-a {
    margin: 1rem 0 0 0;
    font-weight: 100;
}
.feedback-b {
    margin: 0;
    font-weight: 100;
}
.button-container {
    text-align: center;
    margin-top: 1rem;
}
.next {
    color: #000000;
    border-style: none;
    border-radius: 1em;
    margin-top: 1rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    background-color: #FF9900;
    font-family: "Oswald" "Helvetica Neue" sans-serif;
}
