body {
    background-image: url(../img/nebula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.logo {
    width: 20em;
    height: auto;
    margin: 0;
}

.title {
    font-family: "Press Start 2P" "Helvetica Neue" sans-serif;
    color: #DF0000;
    text-align: left;
    margin: 0 0 0 4rem;
    font-size: 3em;
}


/* Dialouge Box */
.intro-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 40%;
    margin: 5rem 30% 0 30%;
    padding: 2rem 0;
}
.intro-a {
    text-align: center;
}
.intro-b {
    text-align: center;
}

/* Start Quiz Button */
.button-container {
    text-align: center;
    margin-top: 1rem;
}
.engage {
    color: black;
    border-style: none;
    border-radius: 1em;
    padding: 0 1rem;
    font-size: 1.5rem;
    background-color: #FF9900;
    font-family: "Oswald" "Helvetica Neue" sans-serif;
}
