body {
    background-image: url(../img/earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-family: "Oswald" "Helvetica Neue" sans-serif;
}

.logo {
    width: 20em;
    height: auto;
    margin: 0;
}

.title {
    font-family: "Press Start 2P" "Helvetica Neue" sans-serif;
    color: #DF0000;
    text-align: left;
    margin: -2rem 0 0 4rem;
    font-size: 3em;
    font-weight: 100;
}
.container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 60%;
    margin: 3rem 20% 0 20%;
    padding: 1rem 0;
}

/* Intro Box */
.intro {
 display: block;
 }
.intro-a {
    text-align: center;
}
.intro-b {
    text-align: center;
}

/* Start Quiz Button */
.button-container {
    text-align: center;
    margin-top: 1rem;
}
.engage {
    color: #000000;
    border-style: none;
    border-radius: 1em;
    margin-top: 1rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    background-color: #FF9900;
}

/* Question Box */
.question1,
.question2{
    text-align: center;
    padding: 1rem 0;
    display: none;
}
table {
    width: 100%
}
.row {
    width: 100%;
}
.button-cell {
    padding-left: 12rem;
}
td {
    width: 50%
}
.answer-a {
    color: #000000;
    border-style: none;
    border-radius: 2rem;
    width: 90%;
    text-align: left;
    padding-left: 1rem;
    margin: 0 1rem 2rem 1rem;
    background-color: #CC99CC;
}
.answer-b {
    color: #000000;
    border-style: none;
    border-radius: 2rem;
    width: 90%;
    text-align: left;
    padding-left: 1rem;
    margin: 0 1rem 2rem 1rem;
    background-color: #FFCC99;
}
.answer-c {
    color: #000000;
    border-style: none;
    border-radius: 2rem;
    width: 90%;
    text-align: left;
    padding-left: 1rem;
    margin: 0 1rem 2rem 1rem;
    background-color: #9999CC;
}
.answer-d {
    color: #000000;
    border-style: none;
    border-radius: 2rem;
    width: 90%;
    text-align: left;
    padding-left: 1rem;
    margin: 0 1rem 2rem 1rem;
    background-color: #FF9966;
}
/* Answer Feedback */
.feedback {
    text-align: center;
    display: none;
}
.right {
    display: block;
    margin: 0 auto;
}
.feedback-a {
    margin: 1rem 0 0 0;
    font-weight: 100;
}
.feedback-b {
    margin: 0;
    font-weight: 100;
}
.button-container {
    text-align: center;
    margin-top: 1rem;
}
.next {
    color: #000000;
    border-style: none;
    border-radius: 1em;
    margin-top: 1rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    background-color: #FF9900;
}

/* Final Score */
.data {
    text-align: center;
    display: none;
}
.score-data {
    width: 45%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.rank-container {
    width: 100%;
}
.rank {
    margin: 1rem 0.5rem 0 0;
    font-weight: 100;
    display: inline;
}
.rank-name {
    margin: 1rem 0.5rem 0 0;
    font-weight: 100;
    display: inline;
    color: #D89000;
}
.rank-desc {
    margin: 0;
    font-weight: 100;
}
.score {
    margin: 0;
    margin-top: 1.5rem;
}
.play-again {
    color: #000000;
    border-style: none;
    border-radius: 1em;
    margin: -1rem 0 0 18.5rem;
    padding: 0 1rem;
    background-color: #FF9900;
    position: absolute;
}
